<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>discountfollower</name>
    <displayName><![CDATA[Follower - Intelligent Products Wishlist and Notifier]]></displayName>
    <version><![CDATA[3.1.0]]></version>
    <description><![CDATA[Be aware of your clients wishes and offer them a better discount!]]></description>
    <author><![CDATA[TerranetPro]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>